<!DOCTYPE html>
<html>
    <head>
        <title>Management Handler</title>
       
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <link rel="stylesheet" type="text/css" href="/home.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" integrity="sha256-KyXPF3/VOPPst/NQOzCWr97QMfSfzJLyFT0o5lYJXiQ=" crossorigin="anonymous" />
    </head>
    <body class="body"></body>



 <div id="landing-header">
   <h1 class="display-4">ProjectManager</h1>
   <p>Complete your works/projects with us..</p>
   <a class="btn btn-md btn-info" title="Sign In" href="/login"> SignIn<i class="sign in alternate icon"></i></a>
<a class="btn btn-success btn-md" title="Register" href="/register">Register<i class="user plus icon"></i></i></i></a>
 </div>
 






 


  




<%-include("partials/footer") %>